@import "componentes-css/styles-inicio.css";
@import "componentes-css/styles-compo.css";
@import "componentes-css/styles-planillas.css";
@import "componentes-css/tablas.css";
@import "componentes-css/styles-code-languages.css";
@import "componentes-css/fonts.css";
@import "media.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--pry-color);
}

::selection {
    color: white;
    background: var(--pry-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'BrokmanMedium' !important;
}

pre {
    /* width: 80%; 
    height: fit-content;
    ackground-color: #e7e7e7;
    border: 1px solid #bebebe;
    border-radius: 15px;
    overflow: hidden !important;*/
    margin-bottom: 0px !important;
    padding: 20px !important;
}

pre code {
    width: 100%;
    height: fit-content;
}

pre textarea {
    width: 100%;
    height: 100% !important;
    padding: 20px 50px !important;
    resize: none;
    border: none;
    background: transparent;
    /* user-select: none; */
    outline: none;
}


/* --- HEADER --- */

header {
    box-shadow: 0 2px 10px #3334;
    position: sticky;
    top: 0;
    z-index: 2000;
}

header .navbar {
    height: var(--height-header);
}

header .navbarSupportedContent {
    position: relative;
}

header .navbarSupportedContent ul {
    position: absolute;
    right: 0;
    background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
    min-width: 300px;
}

header nav .nav-item {
    line-height: var(--height-header);
    font-size: 20px;
    padding: 0 !important;
}

header nav .nav-item:hover {
    background: var(--pry-color);
}

header nav .nav-item:hover .nav-link {
    color: #fff !important;
}

header .navbar .nav-link {
    color: var(--pry-color) !important;
    padding: 0 15px !important;
    /* font-weight: bold; */
}

header .navbar .nav-item.active {
    background: var(--pry-color);
}

.nav-item.active .nav-link {
    color: #fff !important;    
}

/* --- Título de la página --- */

.presentador h1 {
    padding: 30px 0;
    color: #fff;
    font-weight: bold;
    text-shadow: -2px 2px 1px #0005;
}