@media (max-width: 991px) {
    .sidebar {
        display: none;
    }
    .hero_componentes,
    .hero_plantillas {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .hero_componentes > h2,
    .hero_plantillas > h2 {
        font-size: 24px;
    }
}

@media (max-width: 560px) {
    table {
        min-width: 540px;
        overflow-x: scroll;
    }
}